<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
  <h2 th:text="${message}"/>
</div>

<h2>
  Click "Choose File" button below. Select the image you want to upload for this item. Then click "Upload" button.
</h2>

<div>
  <form method="POST" enctype="multipart/form-data" action="/item/upload">
    <table>
      <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
      <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
    </table>
  </form>
</div>

<h2>
  Copy URL from the list below with the file name that you just uploaded. Return to the browser tab with your open input form and paste this URL to the "Image" input field.
</h2>

<div>
  <ul>
    <li th:each="file : ${files}">
      <a th:text="${file}" />
    </li>
  </ul>
</div>

</body>
</html>
